---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <a id="top"></a>
  <div class="fb items-left">
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <a href="https://1860203.com" class="gpt-title">Google&nbsp;&nbsp;</a>
    <a href="https://1860203.com" class="gpt-subtitle">AI</a>
  </div>
  <p class="flex flex-wrap justify-left items-left text-xs op-30 my-2">
    <a href="mailto:llw@1860203.com" class="font-bold">Modified by W</a>
  </p>
</header>
