---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <a id="top"></a>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <a href="https://google.1860203.com" class="gpt-title">Google&nbsp;&nbsp;</a>
    <a href="https://google.1860203.com" class="gpt-subtitle">AI</a>
  </div>
  <p mt-1 op-60>
    <a href="mailto:llw@1860203.com" class="font-bold">Modified by Wei</a>
  </p>
</header>
