---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-left">
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <a href="#bottom" class="gpt-title">Google&nbsp;&nbsp;</a>
    <a href="#bottom" class="gpt-subtitle">AI</a>
  </div>
</header>
